div{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    top: 10%;
    left: 10%;
    transition: 2s ease-in-out
}

div:hover{
    height: 50px;
    width: 50px;
    transform: scale(0.5) translate(150px);
    /*border-radius: 50%;*/
}