body{
	margin-left: 60px;
	margin-right: 20px;
	font-family: sans-serif;
}

/*header*/

#site-title a{
	text-decoration: none;
	font-size: 23px;
	color: black;
}

#site-title a:hover{
	color: orange;
}

#img-header-container #header-container{
	margin-top: -24px;
	color: #76788d;
}
#main-header #header-img{
	width: 100%;
}

#blog-header{
	font-size: 30px;
}

/*main*/

main{
	width: 70%;
	display: inline-block;
}

#blog-content{
	    display: inline-block;
    font-size: 1.1rem;
    word-spacing: 1px;
    line-height: 1.4;
	width: 70%;
}

/*aside-section*/

/*-----aside-----*/

aside {
    display: inline-block;
    vertical-align: top;
    margin-left: 3%;
    width: 25%;
}

.widget {
    border-top: 1.4px solid black;
    line-height: 1.4;
    font-size: 1.1rem;
}

.widget a {
    color: #dc6520;
}

.widget a:hover {
    color: #1a1a1a;
}

.widget .widget-title {
    letter-spacing: 0.05rem;
    word-spacing: 0.1rem;
    font-size: 1.2rem;
    color: #13222c;
    font-family: sans-serif;
    text-transform: uppercase;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 4px 10px;
    background-color: #f7f7f7;
    border: 1px solid #d1d1d1;
    color: #686868;
    display: block;
    line-height: 1.6;
    font-size: 1.05rem;
    color: #000000;
}

button[type="submit"] {
    background-color: #1a1a1a;
    font-size: 0.9rem;
    border-radius: 4px;
    color: #fff;
    letter-spacing: 0.1rem;
    line-height: 1;
    padding: 12px 18px;
    margin-bottom: 15px;
}

button[type="submit"]:hover {
    background-color: #dc6520;
}

#search img{
    width: 18px;
    vertical-align: middle;
}

#search input{
    margin-top: 30px;
    display: inline;
    width: 80%;
    margin-bottom: 40px;
}
#search button {
    width: 12%;
    margin-left: -4px;
    padding: 7px 0 6px;
    border-radius: 0 5px 5px 0;
    line-height: 1.6;
}

.widget .list li{
    color: orange;
    margin-bottom: 4px;
}

.widget-title p , a{
    text-decoration: none;
}

#recent-comments span{
    color: black;
}

#recent-posts li,
#recent-comments li {
    margin-bottom: 0.4rem;
}

/*author-container*/

#author-img{
    width: 60px;
    border-radius: 50%;
}

#author-container{
    display: inline-block;
    width: 29%;
    vertical-align: top;
}

#span1,span2{
    margin-top: 1px;
    display: block;
}
#span2{
    margin-top: 2px;
}

#author-container a:hover{
    text-decoration: underline;
    color: orange;
}

#social{
    position: fixed;
    top: 25%;
    left: 0;
    line-height: 1;
}

#social .social-btn{
    padding: 14px 13px;
    display: block;
    color: #ffffff;
}

#social .social-img{
    width: 19px;
}

#facebook{
    background-color:#3b5998;
}

#facebook:hover{
    background-color:#2d4373;
}

#linkedin{
    background-color: #0077b5;
}

#linkedin:hover{
    background-color: #00121c;
}

#twitter{
    background-color: #83c3f3;
}

#twitter:hover{
    background-color:#55acee;
}

#gmail{
    background-color: #dd4b39;
}

#gmail:hover{
    background-color:#c23321;
}

#whatsapp{
    background-color: #6ba92f;
}

#whatsapp:hover{
    background-color:#528124;
}

#mail{
    background-color: #ed4926;
}

#mail:hover{
    background-color:#cf3311;
}